<footer class="container-fluid pt-5 pb-5 text-center mb-0 mt-5 d-print-none">
  <address class="mb-0">
    &copy; {{ 'now' | date: "%Y" }}<br />
    <br />

  </address>
</footer>

<div class="social-media pt-4 pb-4 text-center mb-0 pb-0">
  <p class="d-print-none mb-1"><a href="https://twitter.com/PyttApp"><i class="fab fa-twitter"></i></a> <a href="https://www.php.net"><i class="fab fa-php"></i></a> <a href="https://laravel.com"><i class="fab fa-laravel"></i></a></p>
  <p class="d-print-none mb-0 text-muted">{{ site.data.site_name }}</p>
</div>
